@charset "UTF-8";
:root {
    --accent: #E40066;
    --accent-hover:#a8004c;
    --nav-dark: #212529;
    --main-colour: #37474f;
    --alt-colour: #455a64;
    --alt-colour2: #546e7a;
    --main-text-colour: white;
}
body{
    position: relative;
}
div .contentBox{
    height: 100vh;
}
nav{
    width: 100vw;
    height: 4em;
    font-size: 1.2em;
}
nav * {
    text-decoration: none;
    color: white;
}
.nav-dark{
    background-color: var(--nav-dark);
}
#home {
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#introduction {
    text-align: center;
    color:white;
    padding: 0.1em;
    z-index: 100;
}
#introduction-wrapper{
    display: flex;
    margin: auto;
}
#introduction-arrow-div{
    text-align: center;
    padding-bottom: 1em;

    opacity: 0;

    animation: fade-in 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    margin-bottom: 3em;
}
.arrowShowAboutMe{
    cursor: pointer;
}
#aboutMe {
    height: 100vh;
}
#projects{
    height: 100vh;
    position: relative;
}
#projects.container-fluid{
    justify-content: center;
    
}
footer{
    color:white;
    text-align: center;

    bottom: 0;
    height: 2em;
    left: 0;
    width:100%;
}
.main {
    background-color: var(--main-colour);
}
.altMain {
    background-color: var(--alt-colour);
}
.altMain2, body {
    background-color: var(--alt-colour2);
}
.title{
    padding-top: 10vh;
    text-align: center;
    color: var(--main-text-colour);
    font-size: 3em;
}
.right-a-little{
    padding-left: 0.2em;
}
.a-little-space{
    padding-right: 0.2em;
    padding-left: 0.2em;
}
.typewriter-text{
    display: flex;
    overflow: hidden;
    border-right: .15em solid var(--accent);
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 3s steps(43, end),
      blink-caret .75s step-end infinite;
}
.typewriter-text{
    display: inline-flex;
}
.name-anim{
    animation: white-to-accent 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.title-anim{
    border-bottom: 5px solid transparent;
    padding-bottom: 3px;

    animation: accent-border-reveal 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to{ border-color: transparent }
    50% { border-color: var(--accent); }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes white-to-accent {
    from {color:white;}
    to {color: var(--accent)}
}
@keyframes accent-border-reveal {
    from {border-color: transparent}
    to{border-color: var(--accent)}
}
#aboutMe p {
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.col .card {
    margin: auto;
}
.padded-container{
    padding-left: 5rem;
    padding-right: 5rem;
}
.col svg{
    display:block;
    margin: auto;
}
.hoz-space{
    --spacing: 0.5em;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}
.nav-link:hover{
    color: gray;
    cursor: pointer;
}
.nav-link.active {
    background-color: var(--accent);;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: #263238 7px 7px;
}

.button-accent{
    padding: 5px;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: #2b3033 7px 7px;

    text-decoration: none;
}
.button-accent:hover{
    background-color: var(--accent-hover);
    color: white;
    text-decoration: none;
}
.bg-accent{
    background-color: var(--accent);
}
.txt-accent{
    color: var(--accent);
}
.underline-accent{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--accent);
}
.bottom-border-accent{
    border-bottom: 2px solid var(--accent);
    padding-bottom: 3px;
}
.bottom-border-accent-thick{
    border-bottom: 5px solid var(--accent);
    padding-bottom: 3px;
}
.col{
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 1%;
}
#introduction-mobile{
    border-left: .15em solid var(--accent);
    padding-left: .3em;
    white-space: wrap;
    color: white;
    line-height: 1.6;
}