div .contentBox{
    height: 100vh;
}
nav {
    width: 100vw;
    height: 4em;
    font-size: 1.2em;
}
#home {
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#introduction {
    text-align: center;
    color:white;
    padding: 0.1em;
    z-index: 100;
}
#introduction-wrapper{
    display: flex;
    margin: auto;
}
.codeImage{
    position: relative;
    width: 100%;
    height: 20vh;
    background-image: url(./assets/Images/code-banner.png);
    z-index: 1;
    margin-top: 4em;
}
#introduction-arrow-div{
    text-align: center;
    padding-bottom: 1em;

    opacity: 0;

    animation: fade-in 1.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.arrowShowAboutMe{
    cursor: pointer;
}
#aboutMe {
    height: 100vh;
}
#projects{
    height: 100vh;
}
.main {
    background-color: #37474f;
}
.altMain {
    background-color: #455a64;
}
.altMain2 {
    background-color: #546e7a;
}
.title{
    padding-top: 10vh;
    text-align: center;
    color:white;
    font-size: 3em;
}
.right-a-little{
    padding-left: 0.2em;
}
.typewriter-text{
    display: flex;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 3.5s steps(43, end),
      blink-caret .75s step-end infinite;
}
.typewriter-text{
    display: inline-flex;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to{ border-color: transparent }
    50% { border-color: orange; }
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
#aboutMe p {
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.col .card {
    margin: auto;
}
.padded-container{
    padding-left: 25rem;
    padding-right: 25rem;
}